.nav{
	background-color: #2F4F4F;
}
.user-dropdown{
	background-color: #2F4F4F;
}
.navbar-brand { 
font-family: "Black Ops One"; 
font-size: 24px; 
font-style: normal; 
font-variant: normal; 
font-weight: 700; 
line-height: 26.4px; 
}